input[type="button"] {
    cursor: pointer;
}

.container {
    width: 1000px;
    height: 100px;
    left: calc((100% - 1000px)/2);
    top: calc(50% - 120px);
    position: absolute;
}

.container .progress_dots {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.progress_dots .progress {
    position: relative;
    aspect-ratio: 2 / 1;
    height: 100%;
}

.progress_dots .first {
    position: relative;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.progress .dot {
    position: relative;
    aspect-ratio: 1 / 1;
    height: calc(100% - 6px);
    border-radius: 25px;
    left: 50px;
    align-content: center;
    text-align: center;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: solid;
    border-width: 3px;
    border-color: black;
}

.first .dot {
    left: 0px;
}

.progress .dot_flagged {
    animation: progressing_dot 0.6s ease-out;
    border-color: cornflowerblue;
    color: cornflowerblue;
}

.progress .dash {
    position: absolute;
    top: 0px;
    left: 0px;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.progress .dash .line_background {
    position: relative;
    background-color: black;
    top: calc(50% - 1.5px);
    height: 3px;
}

.progress .dash .line_background .line {
    position: relative;
    left: 0px;
    width: 0%;
    height: 100%;
}

.progress .animate_line .line_background .line {
    width: 100%;
    animation: progressing_line 0.3s ease-in;
    background-color: cornflowerblue;
}

.container .controllers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.controllers input {

}

.controllers .progress_num_controller {
    display: flex;
}

.controllers .progress_num_controller div {
    position: relative;
    width: 30px;
    text-align: center;
    user-select: none;
}

#progress_num_controller_reduce, #progress_num_controller_increase {
    cursor: pointer;
}

@keyframes progressing_line {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes progressing_dot {
    0% {
        transform: scale(100%);
        border-color: black;
        color: black;
    }
    50% {
        transform: scale(100%);
        border-color: black;
        color: black;
    }

    60% {
        transform: scale(120%);
    }

    70% {
        transform: scale(100%);
    }

    100% {
        border-color: cornflowerblue;
        color: cornflowerblue;
    }
}